*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
    background-size: cover;
    background-position: center; 

    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(../images/header-image.jpg);
    }20%{
        background-image: url(../images/header-image-2.jpg);
    }40%{
        background-image: url(../images/header-image-3.jpg);
    }60%{
        background-image: url(../images/header-image-4.jpg);
    }80%{
        background-image: url(../images/header-image-5.jpg);
    }100%{
        background-image: url(../images/header-image-6.jpg);
    }
}

.logo {
    margin-top: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    color:white;
    font-size: 50px;
}

.form-box {
    justify-content: center;
    align-items: center;
    display: flex; 
}

#search-places {
    height: 50px;
    width: 660px;
    font-size:20px;
}

#search-btn {
    background-color: white;
    height: 56px;
    width: 100px;
    font-size: 20px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding: 10px;
   width: 100%;
   background-color: rgb(27, 103, 146);
   color: white;
   text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    position: relative;
    transition-duration: 0.5s;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
  }