*{
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
    background-size: cover;
    background-position: center; 

    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(../images/header-image.jpg);
    }20%{
        background-image: url(../images/header-image-2.jpg);
    }40%{
        background-image: url(../images/header-image-3.jpg);
    }60%{
        background-image: url(../images/header-image-4.jpg);
    }80%{
        background-image: url(../images/header-image-5.jpg);
    }100%{
        background-image: url(../images/header-image-6.jpg);
    }
}

.logo {
    margin-top: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    color:white;
    font-size: 97px;
    font-family: 'Monoton', cursive;
}

.form-box {
    justify-content: center;
    align-items: center;
    display: flex; 
}

#search-places {
    padding: 15px;
    height: 50px;
    width: 660px;
    font-size:20px;
}

#search-btn {
    height: 49px;
    width: 100px;
    font-size: 20px;
    border: 0;
}

body > div > footer > div > ul > li > a,
body > div > footer > div > ul > li > ul > li > a {
    color: white;
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    position: relative;
    transition-duration: 0.5s;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;

}

ul li ul li {
    clear: both;
    width: 100%;
  }

#map {
    height: 600px;
    margin: 30px 30px 0 30px;
    padding: 10px;
}
#sites {
    height: 530px;
    margin: 30px 0 30px 30px;
    padding: 5px;
}

#weather {
    height: 800px;
    width: auto;
    margin: 30px;
    padding: 5px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/clearsky.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.weatherToday {
    margin: 20px;
    font-size: 30px;
    background: transparent;
    box-shadow: none;
    padding-bottom: 50px;
    border-bottom: 2px black solid;
    border-radius: 0px;
}

.card-title{
    font-size: 36px;
    font-weight: bold;
}

.card-text{
    font-size: 22px;
    padding-bottom: 10px;
}

.forecast {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px black solid;
}

#weather > article:nth-child(6) {
    border-bottom: none;
}

.card-image{
    text-align: center;
}

.categoryImage{
    border-radius: 50%;
    padding: 10px;
}

.category{
    justify-content: center;
}

.name{
    margin-left: 15px;
    float: left;
}
.rating{
    margin-left: 15px;
    float: left;
}

h5,
.weatherIcon,
.txt {
    display: inline;
}
h5 {
    float: left;

}
.txt {
    float: right;
}
.weatherIcon {
    width: 2em;
    height: 2em;
}

.popup-overlay {
  visibility: hidden;
  position: absolute;
  background: white;
  border: 3px solid #d1cccc70;
  width: 20%;
  height: 30%;
  left: 30%;
  margin: 20% 0 0 0;
}

.popup-overlay.active {
    visibility: visible;
    text-align: center;
  }

.popup-content {
    visibility: hidden;
    padding: 20px;
  }


.popup-content.active {
    visibility: visible;
  }

  
.close {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #91b1bd;
    padding: 10px;
    border-radius: 10%;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }

.close:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }

.errtxt {
      font-size: 2rem;
      font-family: 'Patrick Hand';
  }

.errp {
      padding: 10px;
  }
.footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: hsl(204, 86%, 53%);
    color: white;
    text-align: center;
    position: relative;
 }



/*media queries*/

/*screens 299px*/
@media screen and (max-width: 299px) {
    .header {
        height: 500px;
    }
    .logo {
        font-size: 50px;
        margin: 100px 0 0 0;
    }
    #search-places {
        height: 35px;
        width: 240px;
        font-size:20px;
    }
    #search-btn {
        height: 39px;
        width: 70px;
        font-size: 20px;
        border: 0;
    }
    .footer {
        padding: 0;
    }
    .popup-overlay {
        width: 40%;
        height: 40%;
        left: 30%;
      }

    .popup-content {
        padding: 10px;
    }
    .errtxt {
      font-size: 20px;
    }
    .errp {
        font-size: 12px;
    }
    .close {
        font-size: 12px;
    }
    .image {
        display: block;
       width: 250px;
    }
    #weather, 
    #sites {
        display: inline-block;
    }
}

/*screens 300px to 400px*/
@media screen 
and (min-width: 300px)
and (max-width: 400px) {
    .header {
        height: 500px;
    }
    .logo {
        font-size: 50px;
        margin: 150px 0 0 0;
    }
    #search-places {
        height: 35px;
        width: 240px;
        font-size:20px;
    }
    #search-btn {
        height: 39px;
        width: 70px;
        font-size: 20px;
        border: 0;
    }
    .footer {
        padding: 0;
    }
    .popup-overlay {
        width: 40%;
        height: 40%;
        left: 20%;
      }

    .popup-content {
        padding: 10px;
    }
    .errtxt {
      font-size: 20px;
    }
    .errp {
        font-size: 12px;
    }
    .close {
        font-size: 12px;
    }
    .image {
       display: block;
       width: 250px;
    }

    #weather, 
    #sites {
        display: inline-block;
    }
    
}
/*screens 401px to 768px*/
@media screen 
and (min-width: 401px)
and (max-width: 768px) {
    .header {
        height: 500px;
    }
    .logo {
        font-size: 60px;
        margin: 150px 0 0 0;
    }
    #search-places {
        height: 40px;
        width: 340px;
        font-size:20px;
    }
    #search-btn {
        height: 43px;
        width: 70px;
        font-size: 20px;
        border: 0;
    }
    .footer {
        padding: 0;
    }
    .popup-overlay {
        left: 30%;
      }
      
     #weather, 
     #sites {
         display: inline-block;
     }
}



/*screens 768px to 992px*/
@media screen 
and (min-width: 769px)
and (max-width: 992px) {
    .header {
        height: 500px;
    }
    .logo {
        font-size: 85px;
        margin: 150px 0 0 0;
    }
    #search-places {
        height: 40px;
        width: 540px;
        font-size:20px;
    }
    #search-btn {
        height: 43px;
        width: 80px;
        font-size: 20px;
        border: 0;
    }
    .footer {
        padding: 0;
    }
    .popup-overlay {
        width: 40%;
        height: 40%;
        left: 30%;
      }

    .popup-content {
        padding: 10px;
    }
    .errtxt {
      font-size: 2rem;
    }
    .errp {
        font-size: 1rem;
    }
    .close {
        font-size: 12px;
    }
}
